body {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}

#Big {
  font-size: 100px;
}
#Title{
  background-color: black;
  border-radius: 10%;
}
#notBig {
  font-size: 30px;
  background-color: black;
  border-radius: 60%;
}



li {
  font-size: 70px;
}

body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlxUOPmLGV04wY70tjwNr2g2RzhuDYWlKop47efwIPdwRdpeBj");
  background-size: cover;
}

html,
::placeholder {
  color: red;
}
#PlaySong{
  background-color: red;
  color: white;
  border-color: black;
}